aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
attrs==25.3.0
beautifulsoup4==4.13.4
bs4==0.0.2
build==1.2.2.post1
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
docutils==0.21.2
frozenlist==1.7.0
greenlet==3.2.3
h11==0.16.0
id==1.5.0
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
keyring==25.6.0
loguru==0.7.3
lxml==6.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.7.0
multidict==6.6.3
nh3==0.2.22
packaging==25.0
playwright==1.53.0
propcache==0.3.2
pyee==13.0.0
Pygments==2.19.2
pyproject_hooks==1.2.0
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.32.4
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
soupsieve==2.7
twine==6.1.0
typing_extensions==4.14.1
urllib3==2.5.0
win32_setctime==1.2.0
yarl==1.20.1
